@model ToysDB.Models.Ингредиенты

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ингредиенты</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Количество)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Количество)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Продукция)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ПродукцияNavigation.Наименование)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Сырье)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.СырьеNavigation.Наименование)
        </dd>
    </dl>
</div>
<div>
   <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index" class = "btn btn-outline-primary" >Назад</a>
</div>
