@model IEnumerable<ToysDB.Models.Ингредиенты>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- links of Bootstrap 4 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    </script>
       <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/1.css" />



@{
    ViewData["Title"] = "Index";
}

<h1>Таблица Ингредиентов</h1>

<div class=""form-inline form-group"">
     <a asp-action="Create" class = "btn btn-outline-primary">Создать новую запись</a>
     <form method="get">
            <label class="control-label">Готовая Продукция: </label>
            
 </form> 
</div>

@using (Html.BeginForm())
{
    <p>

        @Html.DropDownList("searchString", ViewBag.Prod as SelectList, "все")

        <input type="submit" value="Фильтр" 
       class="btn btn-outline-secondary" />
    </p>
}



<table class="table table-striped table-dark"> 
    <thead>
        <tr> 
            <th>
                @Html.DisplayName("Сырье")
            </th>
              <th>
                @Html.DisplayName("Количество")
            </th>
            <th></th>
        </tr>
    </thead>
   <tbody id="tableDetails">

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.СырьеNavigation.Наименование)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Измениить</a> |
                <a asp-action="Details" class="btn btn-outline-warning" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

