@model ToysDB.Models.ЗакупкаСырья

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>ЗакупкаСырья</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Количество)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Количество)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Сумма)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Сумма)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата,"{0:dd/MM/yyyy}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.СотрудникNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.СотрудникNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.СырьёNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.СырьёNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index" class = "btn btn-outline-primary" >Назад</a>
</div>
