@model IEnumerable<ToysDB.Models.Бюджет>

@{
    ViewData["Title"] = "Index";
}

<h1>Таблица Бюджет</h1>


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Сумма)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Процент)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Бонус)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Сумма)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Процент)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Бонус)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Измениить</a> 
             </td>
        </tr>
}
    </tbody>
</table>
